author-*

# things in here have to be
# added explicitly
ext/

pulsar/dbus.adaptor.h

pulsar-dev
liblogjam*.a
libpulsar*.so
libpulsar*.a
gmon.out
docs/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
Makefile

core
callgrind.out.*

*.swp
